<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <div class="ErrorMessage_wrapper" *ngIf="error">
    <div class="ErrorMessage_header">
      <img class="ErrorMessage_header_icon" src="/assets/icons/close.svg" alt="404_icon" />
      <span class="ErrorMessage_header_title">Something went wrong !</span>
    </div>
    <div class="ErrorMessage_content">
        <p class="ErrorMessage_content_message">{{ error.message }}</p>
        <p>{{ error.details }}</p>
    </div>
  </div>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
    <p>
      <span>Don't have an account ? <a [routerLink]="['/auth/register']" >register</a> here</span>
    </p>
  </mat-card-actions>
</mat-card>
