<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button id="sideMenu-toggle" type="button" aria-label="SideMenu toggle" (click)="drawer.toggle()" color="primary">
      <mat-icon aria-label="SideMenu icon">menu</mat-icon>
    </button>
    <div class="sideMenu-toolbar-title">{{ currentViewTitle }}</div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sideMenu-container">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <mat-list-item *ngFor="let item of sideMenuItems; let i=index" [routerLink]="[item.path]">
        <label>{{ item.title }}</label>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
