.auth-icon {
  padding: 0 14px;
}

.auth-spacer {
  flex: 1 1 auto;
}

.auth-card {
  margin: 10% auto;
  text-align: center;
  width: 50%;

  table {
    width: 100%;

    .mat-form-field {
      width: 100%;
    }
  }
}

.auth-form {
  margin: 15px;
}

.mat-card-title {
  font-size: 18px;
}

.mat-card-content {
  margin: 20px 0;
}
