.ErrorMessage_wrapper {
  background-color: #efe5e5;
  border-radius: 20px;
  border: 1px solid grey;
  margin-bottom: 10px;
  padding: 20px;
}

.ErrorMessage_header {
  text-align: center;
}

.ErrorMessage_header_icon {
  margin-right: 10px;
}

.ErrorMessage_content_message {
  font-weight: bold;
}
