.ErrorPageComponent_wrapper {
  width: 50%;
  margin: 20% auto;
  text-align: center;
}

.ErrorPageComponent_icon {
  width: 20%;
}

.ErrorPageComponent_title {
  padding: 20px;
}

.ErrorPageComponent_code {
  margin: 0;
}

.ErrorPageComponent_details {
  color: grey;
}
